/Cloudbreaker/.vs/Cloudbreaker/v15
/Cloudbreaker/Cloudbreaker/bin/Debug
/Cloudbreaker/Cloudbreaker/obj/Debug
/Cloudbreaker/.vs
/Cloudbreaker/packages
/WebRunner/WebRunner/obj
/WebRunner/WebRunner/bin
/WebRunner/packages
/WebRunner/.vs
/ScannerGame/teraterm-4.104.exe
/Pulse/.vs
/Pulse/Pulse/bin
/Pulse/Pulse/obj
/Pulse/packages
/TTS/mp3s
